* {
    font-family: 'Roboto', sans-serif;
    margin: 2px 0 0 10px;
    padding: 6px;
    position: relative;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#af67e9, #6565e7);
    width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.box {
    background-color: white;
    width: 750px;
    padding: 20px;
    position: relative;
    border-radius: 20px;
}

h4 {
    font-size: 2rem;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-left: 142px;
}

.box textarea {
    font-size: 1.5rem;
    color: #555;
    width: 80% !important;
    height: 250px;
    padding: 10px;
    position: relative;
    resize: none;
    border: 1px solid rgba(0,0,0,.2);
    outline: none;
    border-radius: 20px;
}

p {
    font-size: 2rem;
    color: #555;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box p span {
    color: white;
    background-color: #6565e7;
    width: 80%;
    height: 80%;
    align-items: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    transition: all .5s;
}

.box p span.blink {
    box-shadow: 0 0 6px #6565e7,
                0 0 12px #6565e7,
                0 0 18px #6565e7,
                0 0 24px #6565e7;
}

@media (max-width: 768px) {
    .box {
        width: 580px;
    }
  
    .box p {
        font-size: 1.5rem;
        right: 26px;
    }
}

@media (max-width: 600px) {
    .box {
        width: 300px;
    }
  
    .box h4 {
        font-size: 1.5rem;
    }
  
    .box p {
        top: 0;
        right: 0;
        margin-top: 5px;
        margin-bottom: 10px;
        transform: translateY(0);
        position: relative;
    }
  
    .box textarea {
        width: 100% !important;
    }
}